.html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  height: 100%;
  position: relative;
  z-index: 10;
}

.line {
  height: 2218px;
  width: 1px;
  background-color: #ebebeb;
  position: absolute;
  z-index: -4;
}

div.lines div:nth-child(1) {
  left: 14%;
}

div.lines div:nth-child(2) {
  left: 28%;
}

div.lines div:nth-child(3) {
  left: 42%;
}

div.lines div:nth-child(4) {
  left: 56%;
}

div.lines div:nth-child(5) {
  left: 70%;
}

div.lines div:nth-child(6) {
  left: 84%;
}


.polygon1 {
  width: 80px; 
  position: absolute; 
  left: 0; 
  top: 495px;
  z-index: -1;
}

.polygon2 {
  width: 144px;
  position: absolute; 
  right: 0; 
  top: 407px;
  z-index: -1;
}

.polygon3 {
  position: absolute;
  top: 70%;
  z-index: -1;
  width: 80px;
}

.polygon4 {
  position: absolute;
  top: 75%;
  right: 0;
  z-index: -1;
  width: 200px;
}

.polygon5 {
  position: absolute;
  width: 85px;
  top: 98.5%;
  left: 0;
  z-index: -1;
}

.polygon6 {
  position: absolute;
  z-index: -1;
  top: 98.63%;
  right: 0;
  width: 77px;
}

@media(min-width: 1010px) {
  .polygon1 {
  width: 154px; 
  position: absolute; 
  left: 0; 
  top: 495px;
  z-index: -1;
}

.polygon2 {
  width: 244px;
  position: absolute; 
  right: 0; 
  top: 407px;
  z-index: -1;
}

.polygon3 {
  position: absolute;
  top: 70%;
  z-index: -1;
  width: 131px;
}

.polygon4 {
  position: absolute;
  top: 70%;
  right: 0;
  z-index: -1;
  height: 430px;
  width: 300px;
}

.polygon5 {
  position: absolute;
  width: 165px;
  top: 94.5%;
  left: 0;
  z-index: -1;
}

.polygon6 {
  position: absolute;
  z-index: -1;
  top: 93.9%;
  right: 0;
  width: 177px;
}
}

.container {
  width: 100%;
}

@media(min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.logo-header {
  display: flex;
}lo

.all-header-items {
  position: fixed;
  top: 0;
  -webkit-transition-duration: 0.7s;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 16px;
  align-items: center;
}

.header {
  display: flex;
  position: fixed;
  -webkit-transition-duration: 0.7s;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  top: 0;
  width: 100%;
  padding-right: 20px;
}

@media(min-width: 867px) {
  .header {
    justify-content: space-around;
  }
}

@media(min-width: 1110px) {
  .header {
    justify-content: space-between;
  }
}

@media(min-width: 1130px) {
  .header {
    width: 83%;
  }
}

.logo-name {
  padding-top: 9px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: #3f4040;
  -webkit-transition-duration: 0.7s;
  z-index: -3;
}

.hidden-header-text {
  margin-left: 10px;
  padding: 11px 0 39px 0;
  display: flex;
  align-items: center;
  transform: translateX(-130px);
  -webkit-transition-duration: 1s;
  opacity: 0;
  z-index: -3;
}

.toggle {
  background-color: #fff;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 50px;
  padding: 0 10px;
 -webkit-box-shadow: 0px 0px 9px 6px rgba(242,242,242,1);
  -moz-box-shadow: 0px 0px 9px 6px rgba(242,242,242,1);
  box-shadow: 0px 0px 9px 6px rgba(242,242,242,1);
  margin-top: 10px;
}

.toggle-close-icon div:nth-of-type(1) {
  transform: translateY(7px) rotate(45deg);
  transition: all 0.5s ease;
}

.toggle-close-icon div:nth-of-type(2) {
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}

.toggle-close-icon div:nth-of-type(3) {
  opacity: 0;   
  transition: all 0.1s ease;
}

.toggle-line-1 {
  transition: all 0.5s ease;
  width: 30px;
  height: 2px;
  background-color: black;
  margin-top: 5px;
}

.toggle-line-2 {
  transition: all 0.5s ease;
  width: 24px;
  height: 2px;
  background-color: #888989;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-line-2 div {
  width: 26px;
  height: 1px;
  background-color: black;
}


.logo-text1 {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #3f4040;
}

.logo-img {
  padding-top: 9px;
  height: 65px;
}

.logo-img img {
  width: 80px;
}

.logo-text2 {
  font-size: 13px;
  letter-spacing: 1px;
}

.black-line {
  width: 100%; 
  height: 40px; 
  display: flex;
  justify-content: center;
}

.black-line div {
  width: 1px;
  height: 100%;
  background-color: #3f4040;
}

div.categories div:nth-child(1) a {
  color: black;
}

div.categories div:nth-child(2) a {
  color: black;
}

div.categories div:nth-child(3) a {
  color: black;
}

div.categories div:nth-of-type(4) a {
  color: #63c0d1;
}


.category {
  text-decoration: none;
}

.category:hover {
  cursor: pointer;
  color: #23b2c7;
}


div.languages div:nth-child(1) {
  color: black;
}

.languages {
  color: #abacac;
}

.lanaguage {
  height: 20px;
}

.header-items {
  display: none;
}

.toggle-header-items {
  display: none; 
  position: fixed;
  top: 0;
  -webkit-transition-duration: 0.7s;
  transition: 0.5s all ease;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  align-items: center; 
  opacity: 0;
  -webkit-box-shadow: 0px 0px 9px 6px rgba(242,242,242,1);
  -moz-box-shadow: 0px 0px 9px 6px rgba(242,242,242,1);
  box-shadow: 0px 0px 9px 6px rgba(242,242,242,1);
  background-color: #fff;
  transform: translateY(-100px);
}

@media(min-width: 867px) {
  .logo-img img {
    width: auto;
    height: auto;
  }

  .logo-img {
    height: 118px;
  }

  .logo-text1 {
    font-size: 30px;
    letter-spacing: 4px;
  }

  .logo-text2 {
    font-size: 30px;
    letter-spacing: 3px;
  }

  .toggle {
    display: none;
  }

  .toggle:hover {
    cursor: pointer;
  }
  .header-items {
    -webkit-box-shadow: 0px 0px 9px 6px rgba(242,242,242,1);
    -moz-box-shadow: 0px 0px 9px 6px rgba(242,242,242,1);
    box-shadow: 0px 0px 9px 6px rgba(242,242,242,1);
    font-size: 12px;
    background: #fff;
    width: 100%;
    margin-top: 12px;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    display: flex;
  }
  .categories {
    padding: 0 79px 0 40px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .languages {
    font-size: 14px;
    padding-top: 3px;
    display: flex;
    justify-content: space-around;
    width: 170px;
    height: 100%;
    align-items: center;
    -webkit-box-shadow: -10px 0px 5px 0px rgba(246,246,246,1);
    -moz-box-shadow: -10px 0px 5px 0px rgba(246,246,246,1);
    box-shadow: -10px 0px 5px 0px rgba(246,246,246,1);
  }
}

.lanaguage:hover {
  cursor: pointer;
  color: #3f4040;
}

.first-3c {
  position: absolute; 
  right: 300px; 
  top: 645px; 
  height: 300px;
  z-index: -1;
}

.second-3c {
  position: absolute; 
  width: 150px; 
  top: 1653px; 
  z-index: -1;
}

.home-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-image img {
  width: 280px;
}

@media(min-width: 500px) {
  .home-image img {
    width: 350px;
  }
}

@media(min-width: 867px) {
  .home-image img {
    width: 500px;
    height: auto;
  }
}

.line2 {
  height: 1px;
  width: 260px;
  background-color: #898989;
  margin-top: 20px;
}

@media(min-width: 867px) {
  .line2 {
    width: 280px;
  }
}

.home {
  margin-top: 70px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

@media(min-width: 867px) {
  .home {
    margin-top: 200px;
  }
}

@media(min-width: 1010px) {
  .home-image {
    width: 50%;
  }
  .home {
    display: flex;
    flex-direction: row;
   }
}


.polygon {
  height: 400px;
  width: 300px;
  display: absolute;
  left: 0;
  z-index: -1;
}

.home-text {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #f8f8f8;
  font-size: 23px;
  letter-spacing: -1px;
  margin-top: 80px;
}

@media(min-width: 700px) {
  .home-text {
    font-size: 40px;
  }
}


.home-first-text {
  font-size: 34px;
}

@media(min-width: 700px) {
  .home-first-text {
    font-size: 64px;
  }
}

.home-second-text {
  margin-top: 22px;
  line-height: 30px;
  color: #3f4040;
  font-size: 14px;
  word-spacing: 1px;
  width: 250px;
}

@media(min-width: 700px) {
  .home-second-text {
    line-height: 30px;
    color: #3f4040;
    font-size: 14px;
    word-spacing: 7px;
    width: 414px;
  }  
}

.home-texts {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

@media(min-width: 1010px) {
  .home-texts {
    width: 50%;
  }
}

@media(min-width: 1015px) {
  .blue-lines div:nth-child(1) div {
    position: absolute; 
    height: 50px; 
    width: 1px; 
    left: 14%;
    top: 1000px;
    z-index: -1;
  }

  .blue-lines div:nth-child(2) div {
    position: absolute; 
    height: 50px; 
    width: 1px; 
    left: 42%; 
    top: 1020px;
    z-index: -1;
  }

  .blue-lines div:nth-child(3) div {
    position: absolute; 
    height: 50px; 
    width: 1px; 
    left: 70%; 
    top: 1040px;
    z-index: -1;
  }

  .blue-lines div:nth-child(4) div {
    position: absolute; 
    height: 50px; 
    width: 1px; 
    left: 28%; 
    top: 1300px;
    z-index: -1;
  }

  .blue-lines div:nth-child(5) div {
    position: absolute; 
    height: 50px; 
    width: 1px; 
    left: 56%;
    top: 1320px;
    z-index: -1;
  }

  .blue-lines div:nth-child(6) div {
    position: absolute; 
    height: 50px; 
    width: 1px; 
    left: 88.5%; 
    top: 1340px; 
    z-index: -1;
  }

  .blue-lines div:nth-child(7) div {
    position: absolute;
    z-index: -1;
    top: 1760px;
    left: 52%;
    height: 110px;
    z-index: -3;
  }
}


.blue-line {
  width: 1px;
  height: 100%;
  background-color: #008ead;
}

.service-title-line {
  width: 100%; 
  height: 40px; 
  display: flex;
  justify-content: center;
}

.service-title {
  font-size: 40px;
  color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

@media(min-width: 867px) {
  maring-top: 126px; 
}



.item {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.item:nth-of-type(2) {
  padding-top: 40px;
}

.item:nth-of-type(3) {
  padding-top: 80px;
}

.item:nth-of-type(5) {
  padding-top: 40px;
}

.item:nth-of-type(6) {
  padding-top: 80px;
}

.item-header {
  font-size: 24px;
  font-weight: bold;
  margin-top: 4px;
}

.item-line {
  margin: 10px 0;
  height: 1px;
  width: 56px;
  background-color: #898989;
}

.item-text {
  font-size: 16px;
  color: #919393;
  width: 100%;
  font-variant-ligatures: contextual;
  line-height: 20px;
}

.item-info {
  margin-top: 10px;
}

.item-image {
  margin-top: 20px;
}

.item-image img {
  width: 60px;
}

@media(min-width:380px) {
  .item-image img {
    width: auto;
  }
}

.itemNumber {
  height: 127px;
  font-size: 140px;
  color: #efefef;
  margin-left: 6px;
  font-weight: bold;
}

.all-items {
  display: flex;
  flex-direction: column;
}

@media(min-width: 740px) {
  .all-items {
    flex-direction: row;
    justify-content: space-around;
  }
  .items:nth-of-type(4) {
    padding-top: 90px
  }
}

.item-texts {
  margin-left: 12px;
  width: 200px;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


@media(min-width: 1015px) {
  .all-items {
    flex-direction: column;
  }
  .items {
    flex-direction: row;
  }
}

.items:nth-of-type(1) {
  margin-top: 90px;
} 


.contact {
  background: url('../images/Rectangle7.png') no-repeat;
  width: auto;
  margin-right: 20px;
  padding: 0 10px 30px 10px;
}

@media(min-width: 500px) {
  .contact {
    padding: 0 130px 30px 130px;
  }
}

@media(min-width: 867px) {
  .contact {
    padding: 0 130px 30px 130px;
    margin-right: 20px;

  }
}


.contact-us {
  padding: 36px 0px 0px 28px;
  display: flex;
  width: 100%;
  justify-content: center;
  color: #646868;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

@media(min-width: 750px) {
  .contact-us {
    font-size: 40px;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0 0 0;
  padding-left: 0;
}

.inputs div {
  margin-top: 30px;
  width: 100%;
}

@media(min-width: 725px) {
  .inputs {
    flex-direction: row;
    margin-top: 30px;
  }  
}

.all-inputs {
  padding: 0 10px 0 50px;
}

.text-box {
  -webkit-box-shadow: 0px -4px 5px 2px rgba(252,252,252,1);
  -moz-box-shadow: 0px -4px 5px 2px rgba(252,252,252,1);
  box-shadow: 0px -4px 5px 2px rgba(252,252,252,1);
  overflow: hidden;
  border-bottom: 1px solid;
  padding: 8px 0;
  margin: 0 8px;
  color: #00acc3;
  width: 250px;
}

.text-box input {
  width: 250px;
  border: none;
  outline: none;
  background: none;
  padding-left: 10px;
}

.big-input {
  border-bottom: 1px solid;
  color: #00acc3;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.big-input textarea {
  -webkit-box-shadow: 0px -4px 5px 2px rgba(252,252,252,1);
  -moz-box-shadow: 0px -4px 5px 2px rgba(252,252,252,1);
  box-shadow: 0px -4px 5px 2px rgba(252,252,252,1);
  margin-top: 40px;
  resize: none;
  padding: 10px 0 0 10px ;
  width: 100%;
  height: 91px;
  border: none;
  outline: none;
  background: none;
}

.send-button {
  width: 100%; 
  display: flex; 
  justify-content: center;
  margin-top: 30px;
}
 
.send-button button {
  background-color: #008ead;
  color: #fff;
  border: none;
  margin-top: 10px;
  width: 216px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  -webkit-transition-duration: 0.4s;
}

.send-button button:hover {
  border: 1px solid #008ead;
  cursor: pointer;
  background-color: #fff;
  color: #008ead;
  -webkit-transition-duration: 0.4s;
}

.send-button button:focus {
  outline: 0;
 -webkit-box-shadow: none;
 box-shadow: none;
}

.footer {
  margin-top: 60px;
  padding: 0 30px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

@media(min-width: 977px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 160px 0 200px;
  }
}

.footer-text {
  background-color: #f8f8f8;
  -webkit-text-stroke-width:  0.1px;
  display: flex;
  justify-content: center;
  font-size: 28px;
  -webkit-text-stroke-color: #3f4040;
  color: #f8f8f8;
}

.phone-number-line {
  width: 100%; 
  height: 15px; 
  display: flex;
  justify-content: center;
}

.phone-number {
  display: flex;
  justify-content: center;
  font-size: 16px; 
  margin-top: 3px;
}

.follow {
  margin-top: 30px;
}

@media(min-width: 977px) {
  .follow {
    width: 170px;
    margin-top: 0;
  }
}

.follow-images {
  display: flex;
  justify-content: center;
  margin-top: 20px;  
}
 
.follow-images div {
  display: flex;
  justify-content: space-around;
  border-radius: 50%;
  width: 200px;
}

@media(min-width: 977px) {
  .follow-images div {
    width: 100%;
  }
}

.follow-images img {
  border-radius: 32px;
}

@media(min-width: 867px) {
  .follow-images {
    justify-content: center;
  }
}

.follow-image:hover img {
  -webkit-box-shadow: 0px 0px 16px -2px rgba(209,209,209,1);
  -moz-box-shadow: 0px 0px 16px -2px rgba(209,209,209,1);
  box-shadow: 0px 0px 16px -2px rgba(209,209,209,1);
  cursor: pointer;
}

.site-url {
  font-size: 16px; 
  margin-top: 10px;
  display: flex; 
  justify-content: center
}

.address-line {
  width: 100%; 
  height: 15px; 
  display: flex; 
  justify-content: center
}

.address-block {
  margin-top: 30px;
}

@media(min-width: 977px) {
  .address-block {
    margin-top: 0;
  }
}

.address {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.site-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #898989;
  font-weight: bold;
  font-size: 14px;
  padding: 0;

}
@media(min-width: 977px) {
  .site-info {
    flex-direction: row;
    justify-content: space-between;
  } 
}

@media(min-width: 977px) {
  .site-info {
    padding: 0 20px 0 45px;
  }
}